---
layout: default
title: Homepage
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!-- {{site.data.site-settings.global-cta-options}} -->
<!------------------------ Featured blog loop ------------------------>
<section class="p-5p">

    <div class="max-w-screen-xl mx-auto md:columns-3">


        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:12 %}

            <a class="post-item p-2 break-inside-avoid block mb-4" href="{{ post.url }}">

                <!-- Background image -->
                <div class="bg-cover 
                {% cycle 'aspect-square', 'aspect-portrait', 'aspect-landscape' %}" 
                style="background-image:url( '{{ post.featured_image }}' );"></div>

                <!-- Text container  -->
                <div class="p-4 relative -top-4 left-4 bg-white">
                    
                    <p class="uppercase text-zinc-600 text-xs tracking-wide">
                    {% for item in post.categories %}
                        <span class="tag mr-2"> {{item}} </span>
                    {% endfor %}
                    </p>
                    <h2 class="mt-1 font-serif text-3xl"> {{ post.title }} </h2>
                    <hr class="border-rose-600 w-10 border-t-2 mt-4 mb-2"> 
                    <p class="uppercase text-zinc-600 text-xs tracking-wide"> 
                        <span class="font-bold mr-1">{{ post.author }}</span> {{ post.date | date_to_string }} 
                    </p>

                </div>
            </a>

        {% endfor %}
  
    </div>
 
</section> 


