

<a class="p-2 break-inside-avoid block mb-4" href="{{ post.url }}">
    <div class="bg-cover aspect-square relative">
    <img src="{{ post.featured_image }}" alt="{{post.title}}" class="absolute inset-0 w-full h-full object-cover">
  </div>
    <div class="p-4 relative -top-4 left-4 bg-white">
        
        <p>
        {% for item in post.categories %}
            <span class="tag mr-2"> {{item}} </span>
        {% endfor %}
        </p>
        <h2 class="mt-1 font-serif text-3xl"> {{ post.title }} </h2>
        <hr class="border-rose-600 w-10 border-t-2 mt-4 mb-2"> 
        <p class="uppercase text-zinc-600 text-xs tracking-wide"> 
            <span class="font-bold mr-1">{{ post.author }}</span> {{ post.date | date_to_string }} 
        </p>

    </div>
</a>

