<section class="flex justify-center items-center p-5p {{block.background-color}} {{block.text-color}}"> 
    <h2 class="p-4 font-serif text-2xl mr-4"> {{block.heading}} </h2> <a href="{{block.button-url}}" class="{{block.button-color}} border-2 py-2 px-4 text-sm tracking-wide uppercase"> {{block.button-text}} </a>
</section>

<!-- Note, this CTA is unique to each page. If you wanted to have a set of CTA's that you updated everywhere, you would use the global CTA option -->


<!-- 

Config Options 

heading: 
button-url:
button-text:
background-color: 
text-color: 
button-color: 

 -->