<!-- Youtube & vimeo embed block  -->
<section class="p-5p {{block.background-color | join: ' ' }}"> 

    <div class="max-w-screen-lg mx-auto">

    
    {% if block.video-type == 'youtube' %}

        <<div class="plyr__video-embed" id="player">
            <iframe
              src="https://www.youtube.com/embed/{{youtube-id}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
              allowfullscreen
              allowtransparency
              allow="autoplay"
            ></iframe>
          </div>

    {% elsif block.video-type == 'vimeo' %}

    <div class="plyr__video-embed" id="player">
        <iframe
          src="https://player.vimeo.com/video/{{vimeo-id}}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
      </div>

{% endif %}

</div>

</section>



<!-- Essential Javascript & CSS -->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
<script src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js"></script>
<script>
  const player = new Plyr('#player');
</script>


<!-- 

    Config: 
    video-type: vimeo / youtube
    youtube-id: bTqVqk7FSmY
    vimeo-id: 76979871

 -->