---
layout: default
---


<section class="padded capped-width-narrow blog-content">


    <div class="intro pt-6 p-4 text-center margin-b-2 max-w-screen-lg mx-auto">

        {% for item in page.categories %}
            <span class="tag"> {{ item }}</span>
        {% endfor %}
        
        <h1 class="text-6xl font-serif mt-4 mb-8"> {{ page.title }} </h1>
        
        <p class="tag"> by <span class="font-bold"> {{ page.author }}  </span>| {{ page.date | date_to_string }} </p>
     
    </div>
    
    {% include social-share.html %}

</section>


{% for block in page.page_blocks %}
    {% include /blocks/{{block._id}}.html %}
{% endfor %}



{% include related-posts.html %}