---
layout: default
---


<section class="p-5 bg-zinc-50">


        <div class="intro pt-6 p-4 text-center margin-b-2 max-w-screen-lg mx-auto">

            {% for item in page.categories %}
                <span class="text-sm uppercase tracking-wide p-1 text-zinc-600"> {{ item }}</span>
            {% endfor %}
            
            <h1 class="text-6xl font-serif mt-4 mb-8"> {{ page.title }} </h1>
            
            <p class="text-sm uppercase tracking-wide text-zinc-600"> by <span class="font-bold"> {{ page.author }}  </span>| {{ page.date | date_to_string }} </p>
         
        </div>

        <div class="p-2 prose max-w-screen-lg mx-auto">

            {{content}}

        </div>
        
        {% include social-share.html %}


</section>

{% include related-posts.html %}
